.calc-turinys {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 18px;
  background-color: #eff1f5;
  box-shadow: 2.5px 5px darkgray;
}

.ekraniukas {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}
.ekraniukas > .atsakymas {
  display: inline-block;
  float: left;
  width: 270px;
  height: 50px;
  text-align: right;
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 15px;
  color: #606168;
  font-size: 40px;
}

.ekraniukas > .lygties-dalis {
  display: inline-block;
  float: left;
  width: 280px;
  height: 30px;
  text-align: right;
  color: #97999d;
}

.mygtuku-dalis {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.mygtuku-dalis > .button {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 180px;
  display: inline-block;
  padding: 15px;
  text-align: center;
  color: #636365;
  cursor: pointer;
  transition: all 0.5s;
}

.mygtuku-dalis > .button:hover {
  box-shadow: 1px 2px;
  background-color: antiquewhite;
  height: 51px;
  width: 51px;
}

.button.balti {
  background-color: white;
}

.button.sviesus {
  background-color: #e0e2e6;
}

.button.tamsus {
  background-color: #b2b3bb;
}

.button.raudonas {
  background-color: #ff5467;
  color: white;
}
